.grid-container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: 350px 100px 200px;
  width: 700px;
  height: 700px;
  gap: 10px;
}
.orange {
  background-color: rgb(200, 79, 9);
  grid-column: span 4;
}
.white1 {
  background-color: white;
  grid-column: span 4;
}
.white2 {
  background-color: white;
  grid-column: span 4;
}
.white3 {
  background-color: white;
  grid-column: span 4;
}
.white4 {
  background-color: white;
  grid-column: span 3;
  grid-row: span 4;
}
.blue {
  background-color: rgb(36, 95, 143);
  grid-column: span 2;
}
.white5 {
  background-color: white;
  grid-column: span 2;
  grid-row: span 4;
}
.white6 {
  background-color: white;
  grid-column: span 2;
  grid-row: span 4;
}
.yellow {
  background-color: rgb(227, 227, 151);
  grid-row: span 4;
}
